extends ../layout

block content
    p= HLLWRD
    form(method="POST", action="/users")
        div
            label Username
            br
            input(type="text", name="username")
        div
            label Password
            br
            input(type="text", name="password")
        div
            label Email
            br
            input(type="text", name="email")
        div
            button(type="submit") Valider
