extends ../layout

block content
    h1 Login
    form(method="POST", action="/users/login")
        div
            label Username
            br
            input(type="text", name="username")
        div
            label Password
            br
            input(type="text", name="password")
        div
            button(type="submit") Valider
