<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - DYilm News</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/normalize.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div class="container">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
